<!-- _includes/honor.html -->
<!-- create by zxp -->
      <div>
        <ul style="padding-left: 1rem">
          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>PhD Thesis Outstanding Award, Department of Computing, PolyU</span>
              <span>2025</span>
            </div>
          </li>

          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>PhD Thesis Merit Award, PolyU</span>
              <span>2025</span>
            </div>
          </li>

          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>Best Paper Award Runner-Up (1/93), ACM MobiCom</span>
              <span>2023</span>
            </div>
          </li>

          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>Demo Best Graduate Award, ACM MobiCom</span>
              <span>2023</span>
            </div>
          </li>

          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>Best Paper Award (1/43), IEEE SECON</span>
              <span>2023</span>
            </div>
          </li>

          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>People Scholarship, Nanjing University</span>
              <span>2018 - 2019</span>
            </div>
          </li>

        </ul>
      </div>
