<!-- _includes/honor.html -->
<!-- create by zxp -->
      <div>
        <ul style="padding-left: 1rem">
          <li>
            <div class="col-sm-12">
              PhD Thesis Outstanding Award, Department of Computing, PolyU 2025
            </div>
          </li>

          <li>
            <div class="col-sm-12">
              PhD Thesis Merit Award, PolyU 2025
            </div>
          </li>

          <li>
            <div class="col-sm-12">
              Best Paper Award Runner-Up (1/93), ACM MobiCom 2023
            </div>
          </li>

          <li>
            <div class="col-sm-12">
              Demo Best Graduate Award, ACM MobiCom 2023
            </div>
          </li>

          <li>
            <div class="col-sm-12">
              Best Paper Award (1/43), IEEE SECON 2023
            </div>
          </li>

          <li>
            <div class="col-sm-12">
              People Scholarship, Nanjing University 2018-2019
            </div>
          </li>

        </ul>
      </div>
