<!-- _includes/honor.html -->
<!-- create by zxp -->
      <div>
        <ul style="padding-left: 1rem">
          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>Operating System, COMP 2432, Teaching Assistant. (Lecturer: Dr. Aquil Mirza Mohammed.)</span>
              <span>2024</span>
            </div>
          </li>

          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>Information Technology, ENG 2003, Teaching Assistant. (Lecturer: Dr. Lei Yang.)</span>
              <span>2022 - 2023</span>
            </div>
          </li>

          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>Web Application Design, COMP 3421, Teaching Assistant. (Lecturer: Dr. Lei Yang.)</span>
              <span>2021</span>
            </div>
          </li>

          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span>Computer Programming, ENG 2002, Teaching Assistant. (Lecturer: Dr. Dennis Liu.)</span>
              <span>2020</span>
            </div>
          </li>

        </ul>
      </div>
