<!-- _includes/honor.html -->
<!-- create by zxp -->
      <div>
        <ul style="padding-left: 1rem">
          <li>
            <div class="col-sm-12">
              Operating System, COMP 2432, Teaching Assistant. (Lecturer: Dr. Aquil Mirza Mohammed.), 2024
            </div>
          </li>

          <li>
            <div class="col-sm-12">
              Information Technology, ENG 2003, Teaching Assistant. (Lecturer: Dr. Lei Yang.), 2022-2023
            </div>
          </li>

          <li>
            <div class="col-sm-12">
              Web Application Design, COMP 3421, Teaching Assistant. (Lecturer: Dr. Lei Yang.), 2021
            </div>
          </li>

          <li>
            <div class="col-sm-12">
              Computer Programming, ENG 2002, Teaching Assistant. (Lecturer: Dr. Dennis Liu.), 2020
            </div>
          </li>

        </ul>
      </div>
