<!-- _includes/work_experience.html -->
<!-- create by zxp -->
      <div>
        <ul style="padding-left: 1rem">
          <li>
            <div class="col-sm-12 d-flex justify-content-between align-items-baseline">
              <span><b>Researcher</b>, Theory Lab, Huawei Hong Kong Research Center</span>
              <span>2025 - Present</span>
            </div>
            <ul style="padding-left: 1.25rem; margin-top: 0.35rem;">
              <li>
              <a href="https://gitee.com/omniai/omniinfer">Omni-Infer</a>: High-performance LLM inference architecture enhancement based on vLLM and SGLang.
              Developed core optimizations such as Speculative Decoding, Multistep/Async Scheduling, and NPU Graph Execution Mode.
              (<a href="https://gitcode.com/ascend-tribe/ascend-inference-cluster/blob/main/FusionSpec/%E6%98%87%E8%85%BE%E9%AB%98%E5%90%9E%E5%90%90%E6%8A%95%E6%9C%BA%E6%8E%A8%E7%90%86%E6%A1%86%E6%9E%B6FusionSpec.pdf">Technical Report</a>)

              </li>
            </ul>
          </li>
        </ul>
      </div>
